@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  background: #0B1215;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
  flex-direction: column;
}
  
.btn-shine {
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0%, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
  font-weight: 600;
  font-size: 32px;
}
  
@keyframes shine {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 200px;
  }
  100% {
    background-position: 465px;
  }
}

.a-link {
  text-decoration: none;
  color: #ffffff;
  margin: 30px;
  font-size: 20px;
  font-weight: 900;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-clip: text;
  color: transparent;
}