@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  background: #0B1215;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
  flex-direction: column;
}

.a-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}
  
.shine {
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0%, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
}
  
@keyframes shine {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 232px;
  }
  100% {
    background-position: 465px;
  }
}

.a-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-clip: text;
  color: transparent;
  text-align: center;
  padding: 10px;
  transition: 0.5s;
}

.a-link:hover {
  transform: scale(1.1);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1E2A32;
  color: white;
  text-align: center;
  padding: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .btn-shine {
    font-size: 20px;
  }
  .a-grid {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
  .a-link {
    font-size: 14px;
  }
  footer {
    font-size: 12px;
  }

  @keyframes shine {
    0% {
      background-position: 0;
    }
    50% {
      background-position: 150px;
    }
    100% {
      background-position: 300px;
    }
  }
}