@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0B1215;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.prev {
  color: aliceblue;
  margin-bottom: 20px;
  text-align: center;
}

.scores {
  width: 100%;
  overflow-x: auto;
}

.scores-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  min-width: 600px; 
}

.scores-table th, .scores-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.scores-table th {
  background-color: #1a2629;
}

.no-scores {
  color: aliceblue;
  text-align: center;
}

#btn-back {
  position: fixed;
  top: 0;
  left: 0;
  background: #1E2A32;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  z-index: 1000;
  border-radius: 0 0 5px 0;
}

#btn-back:hover {
  background: #365970;
}

.back-icon {
  display: none;
}

@media (max-width: 768px) {
  #btn-back {
      padding: 10px;
      font-size: 24px;
  }

  .back-text {
      display: none;
  }

  .back-icon {
      display: inline;
  }
}

@media screen and (max-width: 600px) {
  .scores-table {
    font-size: 14px;
  }

  .scores-table th, .scores-table td {
    padding: 8px;
  }
}