@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  background: #0B1215;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
  flex-direction: column;
}

.prev {
  color: aliceblue;
  position: absolute;
  top: 20px;
}
