@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0B1215;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  width: 100%;
  flex-direction: column;
  color: white;
  padding: 20px;
}

.deck-grid {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

.deck-preview {
  background-color: #f0f0f0;
  color: #1E2A32;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.deck-preview:hover {
  transform: scale(1.05);
}

.prebuilt-deck {
  background-color: #e0e0e0;
  border: 2px solid #1E2A32;
}

.deck-title {
  font-family: 'Poppins', sans-serif !important;
  margin-bottom: 10px;
  font-weight: bold;
}

.deck-content {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.quiz-styled {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btns-styled {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.btn-added {
  background: #1E2A32;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-added:hover {
  background: #365970;
}

.progress-styled {
  padding-top: 50px;
  color: antiquewhite;
}

#btn-back {
  position: fixed;
  top: 0;
  left: 0;
  background: #1E2A32;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  z-index: 1000;
  border-radius: 0 0 5px 0;
}

#btn-back:hover {
  background: #365970;
}

.back-icon {
  display: none;
}

#quizSetup {
  text-align: center;
  margin-top: 20px;
}

#quizSetup label {
  display: block;
  margin-bottom: 10px;
}

#quizSetup input {
  padding: 5px;
  font-size: 16px;
  width: 60px;
}

#startQuiz {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1E2A32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#startQuiz:hover {
  background-color: #365970;
}

@media (max-width: 1024px) {
  .deck-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .deck-grid {
    grid-template-columns: 1fr;
  }

  #btn-back {
    padding: 10px;
    font-size: 24px;
  }

  .back-text {
    display: none;
  }

  .back-icon {
    display: inline;
  }

  .btns-styled {
    grid-template-columns: 1fr;
  }
}