@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  background: #0B1215;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
  flex-direction: column;
  color: white;
}

.quiz-styled {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns-styled {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.btn-added {
    background: #1E2A32;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}