@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  background: #0B1215;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
  flex-direction: column;
  color: white;
}

.deck-grid {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.deck-preview {
  background-color: #f0f0f0;
  color: #1E2A32;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.deck-preview:hover {
  transform: scale(1.05);
}

.deck-title {
  font-family: bold;
  margin-bottom: 10px;
}

.deck-content {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.quiz-styled {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btns-styled {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.btn-added {
  background: #1E2A32;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.progress-styled {
  padding-top: 50px;
  color: antiquewhite;
}

#btn-back {
  background: #1E2A32;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  border: none;
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 5px;
  cursor: pointer;
}